.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: #101828;
  transition: transform 0.3s ease;
}

.iconBtn:hover {
  transform: scale(1.05);
}

[data-theme="dark"] .iconBtn {
  color: #fff;
}
