.label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  color: #101828;
}

[data-theme="dark"] .label {
  color: #fff;
}

.input {
  margin-top: 6px;
  padding: 10px 12px;
  border: 1px solid #8e929a;
  border-radius: 12px;
  font-size: 16px;
  transition: all 0.5s ease;
}

[data-theme="dark"] .input {
  background-color: #1f1f1f;
  color: #dadde1;
  border: none;
  border-bottom: 1px solid #1e90ff;
}

.input:focus {
  border-color: #3470ff;
  outline: none;
}

[data-theme="dark"] .input:focus {
  border-color: #dadde1;
}

.checkboxLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  gap: 8px;
  color: #101828;
  font-weight: 600;
}

[data-theme="dark"] .checkboxLabel {
  color: #fff;
}

.checkboxLabel input[type="checkbox"] {
  appearance: none; /* Прибираємо стандартний стиль */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #101828;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkboxLabel input[type="checkbox"]:checked {
  background-color: #0b44cd;
  border-color: #0b44cd;
}

.checkboxLabel input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  color: #fff;
  font-size: 12px;
}

[data-theme="dark"] .checkboxLabel input[type="checkbox"] {
  border: 1px solid #1e90ff;
}

[data-theme="dark"] .checkboxLabel input[type="checkbox"]:checked {
  background-color: #0b60b5;
  border-color: #0b60b5;
}

@media (max-width: 425px) {
  .checkboxLabel {
    align-items: flex-start;
  }
}

@media (max-width: 525px) {
  .input {
    font-size: 14px;
    padding: 8px 10px;
  }
}
