.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

.div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  color: #101828;
}

[data-theme="dark"] .title {
  color: #fff;
}

.searchBar {
  display: flex;
  align-items: center;
  max-width: 400px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #d1d5db;
  padding: 10px 14px;
  gap: 16px;
  transition: all 0.3s ease;
}

.searchIcon {
  width: 20px;
  height: 20px;
  color: #64748b;
  margin-left: 12px;
  flex-shrink: 0;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #1e293b;
  font-family: inherit;
}

[data-theme="dark"] .searchInput {
  background: #1f2937;
  border: 1px solid #374151;
  color: #dadde1;
}

.searchBar:hover,
.searchBar:focus-within {
  border-color: #0b44cd;
  outline: none;
}

[data-theme="dark"] .searchBar:hover,
[data-theme="dark"] .searchBar:focus-within {
  border-color: #1e90ff;
}

[data-theme="dark"] .searchInput:focus {
  border-color: #1e90ff;
  outline: none;
}

.noResults {
  text-align: center;
  font-size: 18px;
  color: #6b7280;
  margin-top: 40px;
}

.selects {
  display: flex;
  gap: 16px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* щоб на мобільних переносилось */
  margin: 32px 0;
}

.brandSelect,
.sortSelect {
  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.brandSelect:hover,
.sortSelect:hover,
.brandSelect:focus,
.sortSelect:focus {
  border-color: #0b44cd;
  outline: none;
}

[data-theme="dark"] .brandSelect,
[data-theme="dark"] .sortSelect {
  background: #1f2937;
  border: 1px solid #374151;
  color: #dadde1;
}

[data-theme="dark"] .brandSelect:hover,
[data-theme="dark"] .sortSelect:hover,
[data-theme="dark"] .brandSelect:focus,
[data-theme="dark"] .sortSelect:focus {
  border-color: #1e90ff;
}

/* Сітка продуктів */
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}

/* Кнопка "Завантажити ще" */
.loadMore {
  display: block;
  margin: 32px auto;
  padding: 12px 24px;
  background: linear-gradient(to right, #2563eb, #06b6d4);
  color: #fff;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

[data-theme="dark"] .loadMore {
  border: 2px solid #1e90ff;
  color: #fff;
}

.loadMore:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(37, 99, 235, 0.35);
}

[data-theme="dark"] .loadMore:hover {
  background-color: #0b60b5;
  border: 1px solid #0b60b5;
}

.scrollTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #0b44cd;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition:
    background 0.3s ease,
    transform 0.3s ease,
    opacity 0.3s ease;
  opacity: 0.7;
  z-index: 1000;
}

[data-theme="dark"] .scrollTop {
  background: #0b60b5;
}

.scrollTop:hover {
  background: #3470ff;
  transform: translateY(-4px);
}

[data-theme="dark"] .scrollTop:hover {
  background: #1e90ff;
}

.scrollTop:active {
  transform: translateY(1px);
}

.scrollTop {
  animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.favoritesWrapper {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.openFavoritesBtn {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
  padding: 10px 22px;
  background: transparent;
  border-radius: 12px;
  border: 1px solid #0b44cd;
  transition:
    background 0.3s ease,
    color 0.3s ease,
    border 0.3s ease,
    box-shadow 0.3s ease;
}

.openFavoritesBtn:hover {
  color: #fff;
  background: #0b44cd;
  border-color: #0b44cd;
}

[data-theme="dark"] .openFavoritesBtn {
  background: transparent;
  border: 1px solid #1e90ff;
}

[data-theme="dark"] .openFavoritesBtn:hover {
  background-color: #0b60b5;
  border: 1px solid #0b60b5;
}

[data-theme="dark"] .openFavoritesBtn {
  color: #fff;
}

/* Адаптивність */
@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .searchInput {
    width: 240px;
  }

  .item img {
    height: 120px;
  }

  .productName,
  .productPrice {
    font-size: 14px;
  }

  .searchInput {
    width: 250px;
  }

  .openFavoritesBtn {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 459.5px) {
  .item {
    width: 240px;
  }

  .list {
    justify-items: center;
  }

  .scrollTop {
    bottom: 120px;
    right: 6px;
  }
}
