.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

.div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  color: #101828;
}

[data-theme="dark"] .title {
  color: #fff;
}

.searchBar {
  position: relative;
  display: flex;
  margin: 32px auto;
  justify-content: center;
  align-items: center;
}

.searchInput {
  padding: 10px 22px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  width: 300px;
  transition: border 0.3s ease;
}

[data-theme="dark"] .searchInput {
  background-color: #1f1f1f;
  color: #dadde1;
  border: none;
  border-bottom: 2px solid #1e90ff;
}

.searchInput:hover,
.searchInput:focus {
  border-color: #0b44cd;
  outline: none;
}

[data-theme="dark"] .searchInput:hover,
[data-theme="dark"] .searchInput:focus {
  border-color: #dadde1;
  outline: none;
}

/* Сітка продуктів */
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}

/* Кнопка "Завантажити ще" */
.loadMore {
  display: block;
  margin: 30px auto;
  padding: 12px 24px;
  background-color: transparent;
  color: #101828;
  border-radius: 12px;
  border: 1px solid #3470ff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition:
    background 0.3s ease,
    color 0.3s ease,
    border 0.3s ease;
}

[data-theme="dark"] .loadMore {
  border: 1px solid #1e90ff;
  color: #fff;
}

.loadMore:hover {
  color: #fff;
  background-color: #0b44cd;
  border: 1px solid #0b44cd;
}

[data-theme="dark"] .loadMore:hover {
  background-color: #0b60b5;
  border: 1px solid #0b60b5;
}

.scrollTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #0b44cd;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition:
    background 0.3s ease,
    transform 0.3s ease,
    opacity 0.3s ease;
  opacity: 0.7;
  z-index: 1000;
}

[data-theme="dark"] .scrollTop {
  background: #0b60b5;
}

.scrollTop:hover {
  background: #3470ff;
  transform: translateY(-4px);
}

[data-theme="dark"] .scrollTop:hover {
  background: #1e90ff;
}

.scrollTop:active {
  transform: translateY(1px);
}

.scrollTop {
  animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.favoritesWrapper {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.openFavoritesBtn {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
}

[data-theme="dark"] .openFavoritesBtn {
  color: #fff;
}

.openFavoritesBtn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #0b44cd;
  transition: width 0.3s;
}

[data-theme="dark"] .openFavoritesBtn::after {
  background: #1e90ff;
}

.openFavoritesBtn:hover::after {
  width: 100%;
}

/* Адаптивність */
@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .searchInput {
    width: 240px;
  }

  .item img {
    height: 120px;
  }

  .productName,
  .productPrice {
    font-size: 14px;
  }

  .searchInput {
    width: 250px;
  }

  .openFavoritesBtn {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 459.5px) {
  .item {
    width: 240px;
  }

  .list {
    justify-items: center;
  }

  .scrollTop {
    bottom: 120px;
    right: 6px;
  }
}
