.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)),
    url("/image/background-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 70px;
  margin: auto;
  max-width: 1440px;
  height: 500px;
  border-radius: 20px;
}

[data-theme="dark"] .container {
  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("/image/background-img.jpg");
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #fff;
}

.description {
  margin-bottom: 32px;
  font-size: 18px;
  color: #dadde1;
  font-weight: 500;
}

.linkBtn {
  display: inline-block;
  padding: 14px 32px;
  color: #fff;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: #3470ff;
  transition: all 0.3s ease;
}

[data-theme="dark"] .linkBtn {
  background: #1e90ff;
}

.linkBtn:hover {
  background: #0b44cd;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

[data-theme="dark"] .linkBtn:hover {
  background: #0b60b5;
}

/* ===== Медіа-запити ===== */

/* Мобільні (менше 768px) */
@media (max-width: 393px) {
  .container {
    padding: 16px;
    margin: 0 auto;
    width: 95%;
  }

  .wrapper {
    align-items: center;
  }

  .title {
    font-size: 32px;
    text-align: center;
  }

  .description {
    font-size: 14px;
    text-align: center;
  }

  .linkBtn {
    width: 100%;
    text-align: center;
    padding: 12px 0;
  }
}

@media (min-width: 393px) and (max-width: 768px) {
  .container {
    width: 95%;
    padding: 32px;
  }

  .wrapper {
    align-items: center;
    text-align: center;
  }
  .title {
    font-size: 36px;
  }
}

/* Планшет (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1023.9px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 95%;
  }

  .description {
    font-size: 16px;
  }

  .linkButton {
    padding: 8px 16px;
  }
}
