.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  transition: border-color 0.3s ease;
}

[data-theme="dark"] .container {
  background: #1f1f1f;
  border: none;
  border-top: 2px solid #1e90ff;
}

[data-theme="dark"] .container:hover {
  border-top: 2px solid #dadde1;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #101828;
  margin-bottom: 25px;
}

[data-theme="dark"] .title {
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submitBtn {
  padding: 12px 0;
  background-color: #3470ff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s ease;
}

[data-theme="dark"] .submitBtn {
  background-color: #1e90ff;
}

.submitBtn:hover {
  background-color: #0b44cd;
}

[data-theme="dark"] .submitBtn:hover {
  background-color: #0b60b5;
}

@media (max-width: 525px) {
  .container {
    width: 90%;
    margin: 24px auto;
  }

  .title {
    font-size: 22px;
  }

  .submitBtn {
    font-size: 14px;
    padding: 10px 0;
  }
}
