.logoImg {
  display: block;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.logoWrapper {
  width: 120px;
  cursor: pointer;
}

.logoWrapper:hover .logoImg {
  transform: scale(1.05);
  filter: brightness(1.1);
}
