@import "simplebar-react/dist/simplebar.min.css";

:root {
  --font-family: var(--font-manrope), sans-serif;
  --second-family: var(--font-inter), sans-serif;

  --color-bg: #fff;
  --color-text: #101828;
  --color-primary: #3470ff;
  --color-primary-dark: #0b44cd;
}

:root[data-theme="dark"] {
  --color-bg: #121212;
  --color-text: #fff;
  --color-primary: #1e90ff;
  --color-primary-dark: #0b60b5;
}

html {
  overflow-y: scroll;
  background-color: var(--color-bg);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--second-family);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    transform 0.3s ease;
}

.container {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 393px) {
  .container {
    max-width: 393px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1225px) {
  .container {
    max-width: 1225px;
    padding: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
}
