.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/image/background-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 60px;
  margin: auto;
  max-width: 1440px;
  height: 440px;
  border-radius: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
  color: #dadde1;
  font-weight: 500;
}

.linkBtn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 12px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  cursor: pointer;

  background: linear-gradient(270deg, #0b44cd, #3470ff, #5b8eff, #1a5cff);
  background-size: 400% 400%;
  animation: blueFlow 6s ease infinite;
  transition: transform 0.3s;
}

.linkBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Анімація синього градієнта */
@keyframes blueFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ===== Медіа-запити ===== */

/* Мобільні (менше 768px) */
@media (max-width: 393px) {
  .container {
    padding: 16px;
    margin: 0 auto;
    width: 95%;
  }

  .wrapper {
    align-items: center;
  }

  .title {
    font-size: 28px;
    text-align: center;
  }

  .description {
    font-size: 14px;
    text-align: center;
  }

  .linkButton {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}

@media (min-width: 393px) and (max-width: 768px) {
  .container {
    width: 95%;
  }

  .wrapper {
    align-items: center;
    text-align: center;
  }
  .title {
    font-size: 32px;
  }
}

/* Планшет (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1023.9px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 95%;
  }

  .title {
    font-size: 32px;
  }

  .description {
    font-size: 16px;
  }

  .linkButton {
    padding: 8px 16px;
  }
}
