.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dadde1;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

/* Коли активна темна тема */
input:checked + .slider {
  background-color: #3470ff;
}

[data-theme="dark"] input:checked + .slider {
  background-color: #fb923c;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

/* Опційно: іконки сонця і місяця */
.slider::after {
  content: "🌞";
  position: absolute;
  right: 6px;
  top: 3px;
  font-size: 14px;
}

input:checked + .slider::after {
  content: "🌙";
  left: 6px;
  right: auto;
}
