.popular {
  text-align: center;
  padding: 60px;
}

.popularWrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.popularTitle {
  font-size: 28px;
  font-weight: 700;
  color: #101828;
  margin-bottom: 32px;
}

[data-theme="dark"] .popularTitle {
  color: #fff;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #dadde1;
  padding: 16px;
  width: 100%;
  max-width: 240px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    border-color 0.25s ease;
}

[data-theme="dark"] .productCard {
  background: #1f1f1f;
  border: 1px solid #2e2e2e;
}

.productCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.12);
}

.productCard img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 12px;
}

.productCard h3 {
  font-size: 16px;
  color: #101828;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

[data-theme="dark"] .productCard h3 {
  color: #fff;
}

.brandAndArticle {
  font-size: 14px;
  color: #8e929a;
  text-align: center;
  margin-bottom: 12px;
}

.price {
  font-weight: 700;
  color: #3470ff;
  margin-bottom: 12px;
}

[data-theme="dark"] .price {
  color: #1e90ff;
}

.buyBtn {
  background: #3470ff;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 10px 22px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
  font-size: 14px;
}

[data-theme="dark"] .buyBtn {
  background: #1e90ff;
}

.buyBtn:hover {
  background-color: #0b44cd;
}

[data-theme="dark"] .buyBtn:hover {
  background: #0b60b5;
}

.p {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

/* Адаптив */
@media (max-width: 768px) {
  .popular {
    padding: 24px;
  }

  .popularTitle {
    font-size: 22px;
  }

  .productCard {
    padding: 12px;
  }

  .productCard img {
    height: 140px;
  }
}

@media (max-width: 374.98px) {
  .products {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
  }

  .productCard {
    flex: 0 0 50%;
    max-width: 160px;
    scroll-snap-align: start;
  }
}

@media (min-width: 375px) and (max-width: 1150px) {
  .products {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
  }

  .productCard {
    flex: 0 0 50%;
    max-width: 180px;
    scroll-snap-align: start;
  }
}

/* LOADER FOR THIS SECTION  */
.loaderWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 60px auto;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #3470ff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

[data-theme="dark"] .loader {
  background: #1e90ff;
}
