.popular {
  padding: 80px 20px;
  background: #f9fafb;
}

[data-theme="dark"] .popular {
  background: #111827;
}

.popularWrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.popularTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #101828;
  text-align: left;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  color: #3470ff;
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  transition: color 0.25s ease;
}

.button:hover {
  color: #0b44cd;
}

[data-theme="dark"] .popularTitle {
  color: #ffffff;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 28px;
}

@media (max-width: 1150px) {
  .products {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding-bottom: 10px;
    position: relative;
  }
  .productCard {
    flex: 0 0 95%;
    min-width: 95%;
    scroll-snap-align: center;
  }

  /* Приховуємо скролбар */
  .products::-webkit-scrollbar {
    display: none;
  }
  .products {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (max-width: 600px) {
  .popularTitle {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
