.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #101828;
  margin-bottom: 32px;
}

[data-theme="dark"] .title {
  color: #fff;
}

.list {
  list-style: none;
  padding: 0;
  margin-bottom: 24px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  margin-bottom: 12px;
  background: #fff;
  border: 1px solid #dadde1;
  border-radius: 20px;
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}

[data-theme="dark"] .item {
  background: #1f1f1f;
  border: 1px solid #2e2e2e;
}

.item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.itemInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.itemImage {
  border-radius: 4px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.itemImage:hover {
  transform: scale(1.2);
}

.itemName {
  display: block;
  width: 350px;
  word-wrap: break-word;
  color: #101828;
}

[data-theme="dark"] .itemName {
  color: #fff;
}

.qtyWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.qtyWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.qtyWrapper button {
  width: 36px;
  height: 36px;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(145deg, #ffffff, #e8e8e8);
  box-shadow:
    inset 0 1px 2px rgba(255, 255, 255, 0.8),
    0 2px 4px rgba(0, 0, 0, 0.1);
  color: #101828;
  transition: all 0.3s ease;
}

.qtyWrapper button:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.qtyWrapper span {
  min-width: 32px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}

[data-theme="dark"] .qtyWrapper span {
  color: #fff;
}

.removeBtn {
  background: linear-gradient(to bottom right, #ff4d4f, #ff1a1c);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  margin-left: 12px;
  transition:
    background 0.3s ease,
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.removeBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(255, 77, 79, 0.35);
}

.orderBtn {
  text-align: center;
  background: linear-gradient(to bottom right, #22c55e, #10b981);
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  min-width: 180px;
  transition:
    background 0.3s ease-in,
    transform 0.25s ease,
    box-shadow 0.25s ease;
  box-shadow: 0 6px 16px rgba(34, 197, 94, 0.25);
}

.orderBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(34, 197, 94, 0.35);
}

.btns {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 24px;
}

.clearBtn {
  background: linear-gradient(to bottom right, #ff4d4f, #ff1a1c);
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition:
    background 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.clearBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(255, 77, 79, 0.35);
}

/* Порожній кошик */
.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
}

.searchText {
  font-weight: 600;
  color: #101828;
  font-size: 20px;
}

[data-theme="dark"] .searchWrapper {
  background: #1f1f1f;
  border: 1px solid #2e2e2e;
}

.searchBtn {
  color: #fff;
  background: linear-gradient(to right, #2563eb, #06b6d4);
  border-radius: 10px;
  padding: 12px 24px;
  font-weight: 600;
  text-decoration: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

[data-theme="dark"] .searchBtn {
  background: #1e90ff;
}

.searchBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(37, 99, 235, 0.35);
}

[data-theme="dark"] .searchBtn:hover {
  background-color: #0b60b5;
}

.emptyText {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Мобільні екрани */
@media (max-width: 375px) {
  .searchBtn {
    padding: 12px 24px;
    font-size: 14px;
  }

  .itemName {
    width: auto;
    font-size: 14px;
  }

  .removeBtn {
    font-size: 14px;
  }
}

@media (max-width: 424.5px) {
  .orderBtn {
    width: 200px;
    font-size: 14px;
    font-weight: 600;
  }

  .clearBtn {
    width: 200px;
    font-size: 14px;
    font-weight: 600;
  }

  .btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
}

@media (max-width: 425px) {
  .searchWrapper {
    width: 100%;
  }

  .item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
  }

  .removeBtn {
    margin-left: 0;
  }

  .btns {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 12px;
  }

  .orderBtn {
    width: 200px;
  }

  .clearBtn {
    width: 200px;
  }
}
