.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 32px 60px;
  color: #101828;
  margin: 0 auto;
}

.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: #101828;
  z-index: 1100;
}

.iconsWrapper {
  display: flex;
  gap: 8px;
}

.mobileCart {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 26px;
  color: #101828;
  transition: color 0.3s ease;
}

[data-theme="dark"] .mobileCart {
  color: #fff;
}

.mobileCart:hover {
  color: #0b44cd;
}

[data-theme="dark"] .mobileCart:hover {
  color: #0b60b5;
}

.mobileCartCount {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #ff4d4d;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
  padding: 3px 6px;
  line-height: 1;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/* ThemeToggle */
.themeDesktop {
  display: none;
}

.mobileFavorites {
  display: none;
}

@media (min-width: 768.9px) {
  .themeDesktop {
    display: block;
  }

  .mobileNavHeader ThemeToggle {
    display: none;
  }
}

/* Адаптивність */
@media (min-width: 320px) and (max-width: 393px) {
  .container {
    padding: 24px 16px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 393px) and (max-width: 768px) {
  .container {
    padding: 24px 32px;
  }
}

@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }

  .burger {
    display: block;
  }

  .mobileFavorites {
    display: inline-flex;
    color: #ffd700;
    font-size: 26px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
