.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 32px 60px;
  color: #101828;
  margin: 0 auto;
}

.logoWrapper {
  width: 120px;
}

.logoImg {
  width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style-type: none;
  font-weight: 500;
}

.navigation li:active {
  transform: scale(0.95);
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navigation a {
  position: relative;
  display: inline-block;
  color: #101828;
  text-decoration: none;
  transition: color 0.3s ease;
}

[data-theme="dark"] .navigation a {
  color: #fff;
}

.navigation a:hover {
  color: #0b44cd;
}

.navigation a.active {
  color: #0b44cd;
}

[data-theme="dark"] .navigation a:hover {
  color: #f97316;
}

[data-theme="dark"] .navigation a.active {
  color: #f97316;
}

.cartWrapper {
  position: relative;
  display: inline-block;
}

.cartCount {
  position: absolute;
  top: -10px;
  right: -20px;
  background-color: #ff4d4d;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
  padding: 3px 6px;
  line-height: 1;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: #101828;
  z-index: 1100;
}

/* Desktop nav */
.desktopNav {
  display: block;
}

.mobileIcons {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Кнопка кошика */
.mobileCart {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 26px;
  color: #101828;
  transition: color 0.3s ease;
}

[data-theme="dark"] .mobileCart {
  color: #fff;
}

.mobileCart:hover {
  color: #0b44cd;
}

[data-theme="dark"] .mobileCart:hover {
  color: #f97316;
}

.mobileCartCount {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #ff4d4d;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
  padding: 3px 6px;
  line-height: 1;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.iconsWrapper {
  display: flex;
  gap: 8px;
}

/* Mobile nav */
.mobileNav {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  background: linear-gradient(145deg, #ffffff 0%, #f2f4f7 60%, #dce4ff 100%);
  box-shadow: -4px 0 16px rgba(0, 0, 0, 0.15);
  transition: right 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  font-weight: 500;
  overflow: hidden;
}

[data-theme="dark"] .mobileNav {
  background: linear-gradient(145deg, #0a0a0f 0%, #121826 50%, #1e2a3a 100%);
  box-shadow: -4px 0 16px rgba(0, 0, 0, 0.5);
}

.mobileNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
}

.mobileNav li a {
  color: #101828;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

[data-theme="dark"] .mobileNav li a {
  color: #fff;
}

.mobileNav span:hover,
.mobileNav span:focus {
  color: #0b44cd;
}

[data-theme="dark"] .mobileNav span:hover,
[data-theme="dark"] .mobileNav span:focus {
  color: #f97316;
}

.mobileNavHeader {
  display: flex;
}

.mobileNavFooter {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.mobileNavFooter .ctaBtn {
  width: 250px;
  padding: 10px 20px;
  border: none;
  background: #3470ff;
  color: #fff;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.mobileNavFooter .ctaBtn:hover {
  background: #0b44cd;
}

[data-theme="dark"] .ctaBtn {
  background: #fb923c;
}

[data-theme="dark"] .ctaBtn:hover {
  background: #f97316;
}

.mobileNav.open {
  right: 0;
}

/* Адаптивність */
@media (min-width: 320px) and (max-width: 393px) {
  .header {
    display: flex;
    padding: 24px;
  }
}

@media (min-width: 393px) and (max-width: 768px) {
  .header {
    padding: 24px 32px;
  }
}

@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }

  .burger {
    display: block;
  }

  .cartCount {
    top: -10px;
    right: -16px;
  }
}

@media (min-width: 769px) {
  .slider {
    display: none;
  }

  .hideCartDesktop {
    display: none;
  }
}

/* Десктоп: показуємо ThemeToggle */
.themeDesktop {
  display: none;
}

@media (min-width: 768.9px) {
  .themeDesktop {
    display: block;
  }

  .mobileNavHeader ThemeToggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .mobileNavHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
