.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 60px;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.brand {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 12px;
}

.brandText {
  font-size: 14px;
  color: #8e929a;
  white-space: nowrap;
  font-weight: 500;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #dadde1;
  color: inherit;
  text-decoration: none;
  transition: border 0.3s;
}

[data-theme="dark"] .socialLink {
  background: #1f1f1f;
  border: none;
  border-bottom: 2px solid #1e90ff;
}

.socialLink:hover {
  border: 1px solid #0b44cd;
}

[data-theme="dark"] .socialLink:hover {
  border: none;
  border-bottom: 2px solid #dadde1;
}

.sectionTitle {
  font-weight: 700;
  margin-bottom: 12px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.list li {
  margin-bottom: 8px;
}

.list li:hover {
  transition:
    color 0.3s ease,
    transform none;
}

.list a {
  font-size: 14px;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
  list-style: none;
}

.list a:hover {
  color: #0b44cd;
  text-decoration: none;
}

[data-theme="dark"] .list a:hover {
  color: #0b60b5;
}

.hours li {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #8e929a;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
}

@media (min-width: 640px) {
  .form {
    flex-direction: row;
  }
}

.status {
  font-size: 14px;
  margin-top: 8px;
  color: #8e929a;
  font-weight: 500;
  transition:
    color 0.3s,
    opacity 0.3s;
}

.success {
  color: #28a745;
  opacity: 1;
}

.error {
  color: #dc3545;
  opacity: 1;
}

.input {
  flex: 1;
  padding: 10px 22px;
  border: 1px solid #dadde1;
  font-size: 14px;
  border-radius: 12px;
  margin-right: 8px;
  transition: all 0.3s ease;
}

[data-theme="dark"] .input {
  background-color: #1f1f1f;
  color: #dadde1;
  border: none;
  border-bottom: 2px solid #1e90ff;
}

.input:focus {
  border-color: #0b44cd;
  outline: none;
}

.input:hover {
  border-color: #0b44cd;
}

[data-theme="dark"] .input:focus,
[data-theme="dark"] .input:hover {
  border-color: #dadde1;
}

.button {
  padding: 11px 22px;
  width: 160px;
  background-color: #3470ff;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s;
  border: none;
  font-weight: 600;
  font-size: 14px;
}

[data-theme="dark"] .button {
  background-color: #1e90ff;
}

.button:hover {
  background-color: #0b44cd;
}

[data-theme="dark"] .button:hover {
  background-color: #0b60b5;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.bottomBar {
  border-top: 1px solid #dadde1;
}

.bottomInner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 24px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  .bottomInner {
    flex-direction: row;
  }
}

.copy {
  font-size: 14px;
  font-weight: 500;
}

/* Адаптація */
@media (max-width: 393px) {
  .container {
    padding: 24px;
  }

  .brand {
    display: none;
  }

  .brandText {
    display: none;
  }

  .socials {
    justify-content: center;
  }

  .supportSection {
    display: none;
  }

  .orderSection {
    display: none;
  }

  .bottomInner {
    padding: 24px;
  }
}

@media (min-width: 375px) {
  .brandText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .socials {
    margin-top: 24px;
  }
}

@media (min-width: 393px) and (max-width: 767.5px) {
  .container {
    padding: 24px;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .brand {
    display: none;
  }

  .brandText {
    font-size: 16px;
  }

  .supportSection {
    display: none;
  }

  .orderSection {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 1023.98px) {
  .workingHours {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    padding: 24px 32px;
  }

  .brandAndSocials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .supportSection {
    margin: 0 auto;
  }

  .brandText {
    justify-content: flex-start;
  }

  .orderSection {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1023.9px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 32px 60px;
  }
}

@media (min-width: 1024px) {
  .brandText {
    justify-content: flex-start;
  }

  .socials {
    margin-top: 12px;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
