.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  max-width: 900px;
  margin: 60px auto;
  padding: 24px;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 32px;
}

.infoRow {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #8e929a;
}

.description {
  font-size: 18px;
}

.price {
  font-size: 20px;
  font-weight: 700;
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.button {
  background-color: #3470ff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
}

[data-theme="dark"] .button {
  background: #fb923c;
}

.button:hover {
  background-color: #0b44cd;
}

[data-theme="dark"] .button:hover {
  background-color: #f97316;
}

.buyButton {
  background-color: transparent;
  border: 1px solid #0b44cd;
  color: #0b44cd;
  padding: 10px 24px;
  border-radius: 12px;
  cursor: pointer;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  transition:
    background 0.3s ease-in,
    color 0.3s ease-in;
}

[data-theme="dark"] .buyButton {
  border: 1px solid #f97316;
  color: #f97316;
}

.buyButton:hover {
  background-color: #0b44cd;
  color: #fff;
}

[data-theme="dark"] .buyButton:hover {
  background: #f97316;
}

.quantityWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.quantityInput {
  width: 60px;
  padding: 6px 10px;
  border-radius: 12px;
  border: 1px solid #dbdbdb;
  text-align: center;
  transition: all 0.25s ease;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  outline: none;
}

[data-theme="dark"] .quantityInput {
  background-color: #1f1a17;
  border-color: #3a2f28;
  color: #fff;
}

.quantityInput:focus,
.quantityInput:hover {
  border-color: #0b44cd;
}

[data-theme="dark"] .quantityInput:focus,
[data-theme="dark"] .quantityInput:hover {
  border-color: #f97316;
}

/* Адаптація */
@media (max-width: 393px) {
  .container {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }

  .info {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .image {
    height: auto;
  }

  .title {
    font-size: 24px;
  }

  .infoRow {
    font-size: 14px;
  }

  .description {
    font-size: 16px;
  }

  .quantityWrapper {
    font-size: 16px;
  }

  .buttons {
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }
}

@media (min-width: 393px) and (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 28px;
  }

  .infoRow {
    font-size: 16px;
  }

  .quantityWrapper {
    font-size: 16px;
  }
}
