.desktopNav {
  display: block;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style-type: none;
  font-weight: 500;
}

.navigation li:active {
  transform: scale(0.95);
}

.navigation a {
  position: relative;
  display: inline-block;
  color: #101828;
  text-decoration: none;
  transition: color 0.3s ease;
}

[data-theme="dark"] .navigation a {
  color: #fff;
}

.navigation a:hover {
  color: #0b44cd;
}

.navigation a.active {
  color: #0b44cd;
}

[data-theme="dark"] .navigation a:hover {
  color: #f97316;
}

[data-theme="dark"] .navigation a.active {
  color: #f97316;
}

@media (max-width: 768px) {
  .hideCartDesktop {
    display: none;
  }

  .cartCount {
    top: -10px;
    right: -16px;
  }

  .navigation {
    display: none;
  }
}
