.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}

[data-theme="dark"] .container {
  background: #1f1f1f;
  border: none;
  border-top: 2px solid #1e90ff;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #101828;
  margin-bottom: 25px;
}

[data-theme="dark"] .title {
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  color: #101828;
}

[data-theme="dark"] .label {
  color: #fff;
}

.input {
  margin-top: 6px;
  padding: 10px 12px;
  border: 1px solid #8e929a;
  border-radius: 20px;
  font-size: 16px;
  transition: all 0.5s ease;
}

[data-theme="dark"] .input {
  background-color: #1f1f1f;
  color: #dadde1;
  border: none;
  border-bottom: 1px solid #1e90ff;
}

.input:focus {
  border-color: #3470ff;
  outline: none;
}

[data-theme="dark"] .input:focus {
  border-color: #dadde1;
}

.checkboxLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  gap: 8px;
  color: #101828;
  font-weight: 600;
}

[data-theme="dark"] .checkboxLabel {
  color: #fff;
}

.checkboxLabel input[type="checkbox"] {
  appearance: none; /* Прибираємо стандартний стиль */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #101828;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 8px;
}

.checkboxLabel input[type="checkbox"]:checked {
  background-color: #0b44cd;
  border-color: #0b44cd;
}

.checkboxLabel input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  color: #fff;
  font-size: 12px;
}

[data-theme="dark"] .checkboxLabel input[type="checkbox"] {
  border: 1px solid #1e90ff;
}

[data-theme="dark"] .checkboxLabel input[type="checkbox"]:checked {
  background-color: #0b60b5;
  border-color: #0b60b5;
}

.submitBtn {
  padding: 12px 0;
  background-color: #3470ff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

[data-theme="dark"] .submitBtn {
  background-color: #1e90ff;
}

.submitBtn:hover {
  background-color: #0b44cd;
}

[data-theme="dark"] .submitBtn:hover {
  background-color: #0b60b5;
}

.quickLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #101828;
}

[data-theme="dark"] .quickLink {
  color: #fff;
}

.quickLink a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #3470ff;
  transform: color 0.3s ease-in;
}

[data-theme="dark"] .quickLink a {
  color: #1e90ff;
}

.quickLink a:hover {
  color: #0b44cd;
}

[data-theme="dark"] .quickLink a:hover {
  color: #0b60b5;
}

@media (max-width: 425px) {
  .checkboxLabel {
    align-items: flex-start;
  }
}

@media (max-width: 525px) {
  .container {
    width: 90%;
  }

  .title {
    font-size: 22px;
  }

  .input {
    font-size: 14px;
    padding: 8px 10px;
  }

  .submitBtn {
    font-size: 14px;
    padding: 10px 0;
  }
}
