.popular {
  padding: 24px 16px;
  text-align: center;
}

.popularWrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.popularTitle {
  font-size: 26px;
  font-weight: 700;
  color: #101828;
  margin-bottom: 32px;
}

[data-theme="dark"] .popularTitle {
  color: #fff;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 14px;
  padding: 16px;
  width: 100%;
  max-width: 240px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

[data-theme="dark"] .productCard {
  background: #1c1a17;
  border: 1px solid #3a2f28;
}

.productCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.12);
}

.productCard img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.productCard h3 {
  font-size: 16px;
  color: #101828;
  margin-bottom: 6px;
}

[data-theme="dark"] .productCard h3 {
  color: #fff;
}

.description {
  font-size: 14px;
  margin-bottom: 8px;
  text-align: center;
}

[data-theme="dark"] .description {
  color: #8e929a;
}

.price {
  font-weight: 700;
  color: #3470ff;
  margin-bottom: 12px;
}

[data-theme="dark"] .price {
  color: #fb923c;
}

.buyBtn {
  background: #3470ff;
  background-size: 400% 400%;
  animation: blueFlow 6s ease infinite;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px 22px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
  font-size: 14px;
}

[data-theme="dark"] .buyBtn {
  background: #fb923c;
}

.buyBtn:hover {
  background-color: #0b44cd;
}

[data-theme="dark"] .buyBtn:hover {
  background: #f97316;
}

/* Адаптив */
@media (max-width: 768px) {
  .popular {
    padding: 32px 12px;
  }

  .popularTitle {
    font-size: 22px;
  }

  .productCard {
    max-width: 100%;
    padding: 12px;
  }

  .productCard img {
    height: 140px;
  }
}

@media (min-width: 375px) and (max-width: 1024px) {
  .products {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
  }

  .productCard {
    flex: 0 0 50%;
    max-width: 180px;
    scroll-snap-align: start;
  }
}
